### Top 10 countries responsible for GHG Emission

In [232]:
clean_new_table

country_or_area,category,Australia,Austria,Belarus,Belgium,Bulgaria,Canada,Croatia,Cyprus,Czech Republic,...,Russian Federation,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom,United States of America
0,CH4,107408.280693,8388.952909,15363.879347,10140.316776,10304.083013,111286.003844,3097.073334,859.548286,15899.102213,...,7.581077e+05,5442.621806,2333.325221,34075.294404,6852.145103,5478.377293,46966.144885,118422.496008,102481.972482,7.357808e+05
1,CO2,354207.950976,68923.085063,63713.336337,119529.720455,52228.407683,541032.488116,20278.523229,6918.024795,125260.360275,...,1.706497e+06,42893.407465,15809.140923,291919.787959,54467.916155,43869.359431,250573.712406,353910.065922,545820.676244,5.664365e+06
4,HFC,4172.371370,872.153435,0.000000,1559.245372,393.819621,4540.818261,349.242082,102.230279,1026.251719,...,2.003882e+04,249.369036,155.281250,10023.669142,585.297205,768.731117,2048.359686,392.060973,15322.722910,1.038582e+05
5,HFC+PFC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.826465e+03
6,N2O,18263.721882,3927.150101,12069.274585,9000.888513,4541.818844,41062.312816,2308.944684,361.794680,7582.267376,...,1.068506e+05,3175.345209,861.054349,16923.467556,5437.997001,2581.572186,18381.672103,32384.240979,30776.353357,4.089620e+05
7,NF3,0.000000,16.349000,0.000000,1.155349,0.000000,0.223877,0.000000,0.000000,2.657973,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,2.958892,0.000000,0.000000,0.670928,3.461012e+02
8,PFC,1584.516087,205.641011,0.000000,948.530047,0.044862,4425.149892,261.431137,0.000000,14.075682,...,8.439227e+03,74.200206,100.427114,526.086471,272.487574,50.494518,633.148723,129.615711,518.692865,1.208270e+04
9,SF6,195.890167,590.943637,0.840296,599.247393,8.404212,1806.167494,10.810032,0.095125,98.555816,...,1.151661e+03,13.382749,14.854937,169.638333,100.003418,161.306274,652.022496,3.947136,1084.640532,1.791006e+04

In [233]:
new_table2 = pd.pivot_table(replaced_emission, values='value',index=['country_or_area'],columns=['category'])

In [234]:
new_table2 = new_table2.fillna(0)

In [235]:
sum_of_total_emission = new_table2.sum(axis=1)

In [236]:
new_table2['Total'] = sum_of_total_emission

In [237]:
sum_of_total_emission.sort_values(ascending=False).head(10)

country_or_area
United States of America    2.084439e+07
European Union              1.531488e+07
Russian Federation          7.803255e+06
Japan                       4.064699e+06
Germany                     3.123673e+06
Canada                      2.120569e+06
France                      1.620446e+06
Italy                       1.583353e+06
Ukraine                     1.515466e+06
Australia                   1.457498e+06
dtype: float64

As you can see the **USA** has contributed the maximum for the GHG emission in the world. We are going to anslyse the data of the top 10 countries that contributed to the GHG emission.